@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;  
  }


  /* Nav Bar */
ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  
}

.navbar {
  background: #1f2937;
  color: #fff;
  height: 60px;
  border: solid 5px yellow;
 
}

.logo {
  font-size: x-large;
  font-weight: bold;
  border: solid 5px black;

}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ea5457;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  border: solid 5px red;
  
}

.navbar ul li {
  margin-left: 20px;
  border: solid 5px green;
 
}


/* Hero section */

.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;
  border: solid 5px hotpink;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
  }