@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.header {
    background: #1f2937;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display:flex;
    padding: 10px;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  .header a:hover {
    color: #ea5457;
  }
  
  
  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #f9faf8;  
  }
  
 .links {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0 80px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    
  }
  
